@import "../../styles/properties";

@mixin initImage($design) {
  @include propertiesInit($design, 'image') {
    @include mixinImage;

    @include mixinType;
    @include mixinTurn;
    @include mixinDisabled;
    @include mixinHide;

    @include mixinLineAwesome;
    @include mixinMaterial;

    @content;
  }
}

@mixin mixinImage {
  @include absolute;
  @include propertiesLink('d.flex.center');

  background-size: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
  font-size: v('??_font-size');
  direction: ltr;

  transform: none;
  transition-duration: v('d.sys.transition-duration.standard');
  transition-property: background-color, background-size, filter, opacity, transform;
}

@mixin mixinType {
  &.is-type {
    &--public {
      @include backgroundAsColor;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    &--color,
    &--file,
    &--image {
      @include modClassByGlobal('disabled') {
        filter: grayscale(1) #{opacity}(#{v('??_disabled')});
      }
    }
  }
}

@mixin mixinTurn {
  @include modClass('turn') {
    transform: rotate(180deg);
  }
}

@mixin mixinDisabled {
  @include modClass('disabled') {
    @include colorOpacity(v('??_disabled'));
  }
}

@mixin mixinHide {
  @include modClass('hide') {
    @include propertiesLink('d.animation.hide');

    @include modClassByGlobal('turn') {
      transform: scale(.8) rotate(180deg);
    }
  }
}

@mixin mixinLineAwesome {
  &.la,
  &.lab,
  &.lad,
  &.lal,
  &.lar,
  &.las {
    &::before {
      color: inherit;
    }

    @content;
  }
}

@mixin mixinMaterial {
  &.material-icons {
    @content;

    direction: ltr;

    &.is-type-- {
      &outlined {
        font-family: 'Material Icons Outlined', sans-serif;
      }

      &round {
        font-family: 'Material Icons Round', sans-serif;
      }

      &sharp {
        font-family: 'Material Icons Sharp', sans-serif;
      }

      &two-tone {
        font-family: 'Material Icons Two Tone', sans-serif;
      }
    }
  }
}
