@import "../../styles/services/classesService";

@mixin initImage($design) {
  @include classInitService($design, 'image') using($class, $properties) {
    @include mixinImageMaterial;
    @include mixinImageLineAwesome;

    @content($class, $properties);
  }
}

@mixin mixinImageMaterial() {
  &.material-icons {
    @content;

    direction: ltr;

    &.type- {
      &outlined {
        font-family: 'Material Icons Outlined', sans-serif;
      }

      &round {
        font-family: 'Material Icons Round', sans-serif;
      }

      &sharp {
        font-family: 'Material Icons Sharp', sans-serif;
      }

      &two-tone {
        font-family: 'Material Icons Two Tone', sans-serif;
      }
    }
  }
}

@mixin mixinImageLineAwesome() {
  &.la,
  &.lab,
  &.lad,
  &.lal,
  &.lar,
  &.las {
    &::before {
      color: inherit;
    }

    @content;
  }
}
