@import "../../styles/properties";

@mixin initWindow($design) {
  @include propertiesInit($design, 'window') {
    @include mixinWindow;

    @include mixinWindowBody;
    @include mixinWindowContext;

    @include mixinWindowPersistent;

    @include mixinWindowAlignment;
    @include mixinWindowAnimationOrigin;
    @include mixinWindowFullscreen;

    @content;
  }
}

@mixin mixinWindow {
  display: v('??l.display');
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  @include inset(0);
  z-index: v('??l.index');

  padding: v('??_padding');

  @include background(v('??sys.scrim.background'), v('??l.scrim.opacity'));

  transition: v('??l.transition');
  will-change: background-color, left, top, contents;
}

@mixin mixinWindowBody() {
  @include subClass('body') {
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    overflow-y: auto;

    width: 100%;
    max-width: v('??_width');
    max-height: v('??_height');

    transform: v('??l.body.transform');
    transform-origin: v('??l.transform-origin');

    background: v('??l.background');
    opacity: v('??l.body.opacity');
    border-radius: v('??_rounded');
    box-shadow: v('??l.shadow');

    transition: v('??l.body.transition');
    will-change: opacity, visibility, transform, contents;
  }
}

@mixin mixinWindowContext() {
  @include subClass('context') {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@mixin mixinWindowAlignment() {
  @include modClass('alignment') {
    @include modClass('top') {
      justify-content: flex-start;
    }

    @include modClass('right') {
      align-items: flex-end;
    }

    @include modClass('bottom') {
      justify-content: flex-end;
    }

    @include modClass('left') {
      align-items: flex-start;
    }
  }
}

@mixin mixinWindowAnimationOrigin() {
  @include modClass('animation-origin') {
    @include modClass('center') {
      @include link('transform-origin', center);
    }

    @include modClass('top') {
      @include link('transform-origin', top center);
    }

    @include modClass('right') {
      @include link('transform-origin', center right);
    }

    @include modClass('bottom') {
      @include link('transform-origin', bottom center);
    }

    @include modClass('left') {
      @include link('transform-origin', center left);
    }
  }
}

@mixin mixinWindowFullscreen() {
  @include modClass('fullscreen') {
    padding: 0;

    @include subClassByGlobal('body') {
      width: 100%;
      height: 100%;
      max-width: none;
      max-height: none;
      border-radius: 0;
    }
  }
}

@mixin mixinWindowPersistent() {
  &.is-persistent {
    @include subClassByGlobal('body') {
      animation-duration: v('d.sys.transition-duration.fade.through');
      animation-name: getCode('??-persistent-active');
      animation-timing-function: v('d.sys.transition-function.standard');
      transform-origin: center;
    }
  }
}
