@import "../../styles/properties";
@import "../../styles/dimension";
@import "../../styles/margin";
@import "../../styles/position";

@mixin initCheckbox($design) {
  @include propertiesInit($design, 'checkbox') {
    @include mixinCheckbox;
    @content;
  }
}

@mixin mixinCheckbox() {
  @include color(v('??l.text'), v('??l.text-opacity'));

  display: inline-flex;
  align-items: flex-start;

  @include mixinInput;
  @include mixinText;
  @include mixinRequired;

  @include mixinItem;
  @include mixinIcon;

  @include mixinRight;

  &.is-value {
    @include linkTo('palette', '??sys.checked.palette');
  }

  &.is-error {
    @include linkTo('palette', '??sys.error.palette');
    @include linkTo('text', '??sys.error.text');
  }

  @include mixinDisabled;
}

@mixin mixinInput() {
  @include subClass('input') {
    position: absolute;
    visibility: hidden;
  }
}

@mixin mixinText() {
  @include subClass('text') {
    @include marginLeft(v('??sys.gap'));
    padding-top: calc((#{v('??sys.item.size')} - #{v('??sys.label.line-height')}) / 2);

    > * {
      display: block;
    }
  }
}

@mixin mixinRequired() {
  @include subClass('required') {
    @include color(v('??sys.label.required'));

    &::after {
      content: '*';
    }
  }
}

@mixin mixinItem() {
  @include subClass('item') {
    @include propertiesLink('d.flex.center');
    position: relative;

    @include background(v('??l.palette'), v('??l.item.background-opacity'));

    @include circle(v('??sys.item.size'));
    min-width: v('??sys.item.size');

    transition-property: background-color;

    &::after {
      content: " ";
      position: absolute;
      @include inset();

      @include border(v('??l.palette'), v('??l.item.border-opacity'));
      border-style: solid;
      border-width: v('??sys.item.border-width');
      border-radius: inherit;
      transition-property: border-color;
    }

    &:hover {
      @include linkTo('item.background-opacity', '??sys.hover.item.background-opacity');
      @include linkTo('item.border-opacity', '??sys.hover.item.border-opacity');
    }
  }

  input:active + {
    * {
      @include linkTo('item.background-opacity', '??sys.active.item.background-opacity');
      @include linkTo('item.border-opacity', '??sys.active.item.border-opacity');
    }

    @include subClassByGlobal('item') {
      &::after {
        transition-duration: 0s;
      }
    }
  }
}

@mixin mixinIcon() {
  @include subClass('icon') {
    @include color(v('??l.icon.text'), v('??l.icon.text-opacity'));
    @include background(v('??l.palette'), v('??l.icon.background-opacity'));

    position: relative;
    @include squared(v('??sys.icon.size'));

    @include border(v('??l.palette'), v('??l.icon.border-opacity'));
    border-width: v('??sys.icon.border-width');
    border-radius: v('??sys.icon.rounded');

    transition-property: background-color, border-color;

    > * {
      clip-path: inset(0 100% 0 0);
    }
  }

  input:checked + {
    * {
      @include linkTo('icon.background-opacity', '??sys.checked.icon.background-opacity');
      @include linkTo('icon.border-opacity', '??sys.checked.icon.border-opacity');
      @include linkTo('icon.text', '??sys.checked.icon.text');
      @include linkTo('icon.text-opacity', '??sys.checked.icon.text-opacity');
    }

    @include subClassByGlobal('item') {
      @include subClassByGlobal('icon') {
        > * {
          clip-path: inset(0 0 0 0);
          transition-property: clip-path, opacity, transform;
        }
      }
    }
  }
}

@mixin mixinDisabled() {
  @include modClass('disabled') {
    @include linkTo('palette', '??sys.disabled.palette');
    @include linkTo('text-opacity', '??sys.disabled.text-opacity');
    @include linkTo('icon.border-opacity', '??sys.disabled.icon.border-opacity');

    input:active +,
    input:hover + {
      * {
        @include linkTo('item.background-opacity', '??sys.disabled.item.background-opacity');
        @include linkTo('item.border-opacity', '??sys.disabled.item.border-opacity');
      }
    }

    input:checked ~ * {
      @include linkTo('palette', '??sys.disabled.palette');
      @include linkTo('icon.background-opacity', '??sys.disabled.checked.icon.background-opacity');
      @include linkTo('icon.border-opacity', '??sys.disabled.checked.icon.border-opacity');
    }
  }
}

@mixin mixinRight() {
  @include modClass('right') {
    & > * {
      order: 2;
    }

    @include subClassByGlobal('text') {
      @include marginLeft(0px);
      @include marginRight(v('??sys.gap'));
      order: 1;
    }
  }
}
