@import "../../styles/properties";
@import "../../styles/dimension";
@import "../../styles/margin";
@import "../../styles/position";

@mixin initCheckbox($design) {
  @include propertiesInit($design, 'checkbox') {
    @include mixinCheckbox;
    @content;
  }
}

@mixin mixinCheckbox() {
  display: inline-flex;

  @include mixinInput;
  @include mixinText;
  @include mixinRequired;

  @include mixinItem;
}

@mixin mixinInput() {
  @include subClass('input') {
    position: absolute;
    visibility: hidden;
  }
}

@mixin mixinText() {
  @include subClass('label') {
    @include marginLeft(v('??sys.gap'));

    > * {
      display: block;
    }
  }
}

@mixin mixinRequired() {
  @include subClass('required') {
    @include color(v('??sys.label.required'));

    &::after {
      content: '*';
    }
  }
}

@mixin mixinItem() {
  @include subClass('item') {
    @include propertiesLink('d.flex.center');
    position: relative;

    @include color(v('??sys.item.text'), v('??sys.item.text-opacity'));
    @include background(v('??sys.palette'), 0);

    @include circle(v('??sys.item.size'));
    min-width: v('??sys.item.size');

    &::after {
      content: " ";
      position: absolute;
      @include inset();

      @include border(v('??sys.palette'), 0);
      border-style: solid;
      border-width: v('??sys.item.border-width');
      border-radius: inherit;
      transition-property: border-color;
    }

    &:hover {
      @include backgroundOpacity(v('??sys.hover.item.background-opacity'));
    }
  }

  input:active + {
    @include subClassByGlobal('item') {
      @include backgroundOpacity(v('??sys.active.item.background-opacity'));

      &::after {
        @include borderOpacity(v('??sys.active.item.border-opacity'));
        transition-duration: 0s;
      }
    }
  }
}
