@import "../../styles/properties";

@import "./styles/mixinCheckboxInput";
@import "./styles/mixinCheckboxItem";
@import "./styles/mixinCheckboxText";
@import "./styles/mixinCheckboxRight";
@import "./styles/mixinCheckboxProgress";

@import "./styles/currentStatus";
@import "./styles/mixinCheckboxChecked";
@import "./styles/mixinCheckboxStatus";

@mixin initCheckbox($design) {
  @include propertiesInit($design, 'checkbox') {
    @include mixinCheckbox;

    @include mixinCheckboxInput;
    @include mixinCheckboxItem;
    @include mixinCheckboxIcon;
    @include mixinCheckboxText;
    @include mixinCheckboxRequired;
    @include mixinCheckboxProgress;

    @include mixinCheckboxRight;

    @include mixinCheckboxChecked;
    @include mixinCheckboxError;
    @include mixinCheckboxDisabled;

    @include mixinCheckboxHover;
    @include mixinCheckboxActive;

    @content;
  }
}

@mixin mixinCheckbox() {
  display: inline-flex;
  align-items: flex-start;

  @include color(v('??l.text'), v('??l.text-opacity'));

  #{c('?field-message')} {
    padding-top: 0;
  }
}
