@import "../../styles/properties";

@mixin initTextareaAutosize($design) {
  @include propertiesInit($design, 'textarea-autosize') {
    @include mixinTextareaAutosize;
    @content;
  }
}

@mixin mixinTextareaAutosize() {
  font: inherit;
  overflow: hidden;
  resize: none;

  max-width: 100%;
  min-height: v('??sys.height');

  @include mixinClone;
}

@mixin mixinClone() {
  @include subClass('clone') {
    font: inherit;
    position: absolute;
    width: inherit;
    white-space: pre-wrap;
    visibility: hidden;
  }
}
