@import "../../styles/properties";

@mixin initTextareaAutosize($design) {
  @include propertiesInit($design, 'textarea-autosize') {
    @include mixinTextareaAutosize;
    @include mixinTextareaClone;

    @content;
  }
}

@mixin mixinTextareaAutosize() {
  overflow: hidden;

  max-width: 100%;
  min-height: v('??sys.height');
  resize: none;

  font: inherit;
}

@mixin mixinTextareaClone() {
  @include subClass('clone') {
    position: absolute;
    visibility: hidden;
    white-space: pre-wrap;

    width: inherit;

    font: inherit;
  }
}
