@import "../../../styles/properties";

@mixin mixinFieldBody() {
  @include subClass('body') {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    max-width: 100%;
    border-radius: inherit;

    @include background(v('??l.background'), v('??l.background-opacity'));
    @include gradient(v('??l.gradient'), v('??l.gradient-opacity'));
  }
}
