@import "../../../styles/properties";
@import "./useFieldBorder";

@mixin mixinFieldBorder() {
  @include subClass('border') {
    position: absolute;
    @include inset;

    @include useFieldBorderColor;
    border-right-width: v('??_border-width');
    border-bottom-width: v('??_border-width');
    border-left-width: v('??_border-width');
    border-radius: inherit;
  }
}
