@import "../../../styles/properties";

@mixin mixinFieldInput() {
  @include subClass('input') {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;

    position: relative;
    order: 8;
    z-index: 4;
    opacity: 0;

    width: 100%;
    min-height: v('??sys.height');

    padding: {
      top: calc(#{v('??_half')} - #{v('??_label-half')} + #{v('??l.shift')});
      bottom: calc(#{v('??_half')} - #{v('??_label-half')} - #{v('??l.shift')});
    }
    @include paddingLeft(calc(#{v('??_left')} + #{v('??_value-prefix')}));
    @include paddingRight(calc(#{v('??_right')} + #{v('??_value-suffix')}));

    border-radius: inherit;

    &::placeholder {
      @include color(v('??l.text'), v('??l.placeholder.text-opacity'));
    }

    &::-webkit-clear-button,
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
    }

    &:read-only {
      cursor: default;
    }

    &:placeholder-shown {
      opacity: 1;
    }
  }

  @include subClass('hidden') {
    display: none;
  }

  &:focus-within, &#{c('??-focus')}, &#{c('??-value')} {
    @include subClassByGlobal('input') {
      opacity: 1;
    }
  }
}
