@import "../../../styles/properties";

@mixin useFieldBorderColor {
  @include paletteBorder(v('??l.border'));
  @include borderOpacity(v('??l.border-opacity'));
}

@mixin useFieldBorderTop {
  @include useFieldBorderColor;
  border-top-width: v('??_border-width');
}

@mixin useFieldBorderBottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
}

@mixin useFieldEnabled {
  &:not(#{c('??-disabled')}, #{c('??-readonly')}) {
    @content;
  }
}
