@import "../../styles/properties";

@mixin initFieldMessage($design) {
  @include propertiesInit($design, 'field-message') {
    @include mixinFieldMessage;

    @include mixinFieldInfo;
    @include mixinFieldCounter;
    @include mixinFieldValidation;

    @content;
  }
}

@mixin mixinFieldMessage() {
  display: flex;
  align-items: flex-start;

  padding: v('??sys.padding-top') v('??_padding') 0;

  @include color(v('??l.text'), v('??l.text-opacity'));
}

@mixin mixinFieldInfo() {
  @include subClass('info') {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@mixin mixinFieldCounter() {
  @include subClass('counter') {
    padding-left: v('??sys.space');
    white-space: nowrap;
  }
}

@mixin mixinFieldValidation() {
  @include subClass('validation') {
    @include color(v('??l.text'), v('??l.text-opacity'));
  }
}
