@import "../../styles/properties";
@import "../Checkbox/style";

@mixin initRadio($design) {
  @include propertiesInit($design, 'radio') {
    @include mixinCheckboxFull;
    @include mixinRadio;

    @content;
  }
}

@mixin mixinRadio() {
  @include subClass('icon') {
    @include propertiesLink('d.flex.center');
  }

  @include subClass('circle') {
    position: relative;
    @include circle(v('??sys.circle.size'));

    @include background(v('??l.palette'), v('??l.icon.text-opacity'));

    clip-path: v('??l.icon.clip-path');
    transition-property: v('??l.icon.transition-property');
  }
}
