@import "../../../styles/properties";

@mixin mixinCheckboxText() {
  @include subClass('text') {
    @include marginLeft(v('??sys.gap'));
    padding-top: calc((#{v('??sys.item.size')} - #{v('??sys.label.line-height')}) / 2);

    @include color(v('??l.text'), v('??l.text-opacity'));

    > * {
      display: block;
    }
  }
}

@mixin mixinCheckboxRequired() {
  @include subClass('required') {
    @include color(v('??sys.required.text'));

    &::after {
      content: '*';
    }
  }
}
