@use "sass:list";
@use "sass:meta";

@import "../rules";

@function getListSlash($keys, $separator: '.') {
  @if (meta.type-of($keys) == list) {
    $data: '';

    @each $item in $keys {
      @if ($data == '') {
        $data: $item;
      } @else {
        $data: #{$data}#{$separator}#{$item};
      }
    }

    @return $data;
  } @else {
    @return $keys;
  }
}

@function getOptions($map) {
  @return getMapItem($map, '__options', getMapItem($map, 'options'))
}

@function getType($map) {
  @return getMapItem($map, 'type', 'section')
}

@function getValue($map) {
  @return getMapItem($map, 'value', $map)
}

@function isInitByType($init, $type) {
  @return $init != null and (
    $init == $type or
    list.length($init) == 0 or
    list.index($init, $type)
  )
}

@mixin mixinPropertiesByType($type, $properties, $keys: ()) {
  @each $index, $property in getValue($properties) {
    @if (
            $index != '__options' and
            getType($property) == $type and
            isInitByType($keys, $index)
    ) {
      @content($index, $property);
    }
  }
}
