@import "./classesService";
@import "./propertiesService";

@import "./../color";

@mixin initTypographyService(
  $color: #000000,
  $colorOpacity: .7,
  $background: #ffffff,
  $backgroundOpacity: 1,
  $border: #000000,
  $borderOpacity: 0.1
) {
  $constructor: 'd';

  @include initPropertiesService($constructor, ('ref', 'sys'));

  *,
  *::after,
  *::before,
  a,
  button,
  input,
  optgroup,
  select,
  textarea {
    animation-name: none;
    animation-duration: var(--d-sys-transition-duration-sm);
    animation-timing-function: linear;
    animation-fill-mode: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    transition-duration: var(--d-sys-transition-duration-sm);
    transition-timing-function: linear;
    transition-property: none;
    -webkit-tap-highlight-color: transparent;
  }

  *:focus {
    outline: none !important;
  }

  html {
    --d-dir-margin-left: 0px;
    --d-dir-margin-right: 0px;
    --d-dir-padding-left: 0px;
    --d-dir-padding-right: 0px;

    --d-dir: 1;
    --d-dir-left: 1;
    --d-dir-right: 0;
    --d-dir-auto: auto;
    --d-dir-justify-start: flex-start;
    --d-dir-justify-end: flex-end;
    --d-dir-text-left: left;
    --d-dir-text-right: right;

    &[dir="rtl"] {
      --d-dir: -1;
      --d-dir-left: 0;
      --d-dir-right: 1;
      --d-dir-auto: unset;
      --d-dir-auto-rtl: auto;
      --d-dir-justify-start: flex-end;
      --d-dir-justify-end: flex-start;
      --d-dir-text-left: right;
      --d-dir-text-right: left;
      direction: rtl;
    }
  }

  body {
    @include color($color, $colorOpacity);
    @include gradient($background, 0);
    @include border($border, $borderOpacity);

    background: $background;
    @include backgroundOpacity($backgroundOpacity);
  }

  img {
    max-width: 100%;
    overflow: hidden;
    vertical-align: bottom;
  }

  input,
  textarea,
  select {
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;

    &:-webkit-autofill {
      -webkit-text-fill-color: rgba(var(--sys-color), var(--sys-color-opacity));
    }
  }

  @include classesInitService($constructor, (
          'animation',
          'flex',
          'font'
  ));
}
