@import "../../styles/properties";

@mixin initMotionAxisSlide($design) {
  @include propertiesInit($design, 'motion-axis-slide') {
    @include mixinMotionAxisSlide;

    @include mixinMotionAxisSlideStatus;
    @include mixinMotionAxisSlideAnimationType;

    @content;
  }
}

@mixin mixinMotionAxisSlide {

  display: none;
  opacity: 0;

  @include propertyCustom('??_transform', calc(#{v('??sys.shift')} * #{v('??_transition')}));
  transform: translate(calc(#{v('??_transform')} * #{v('??_x')}), calc(#{v('??_transform')} * #{v('??_y')})) scale(#{v('??_scale')});

  & + & {
    @include propertyCustomTo('??_transition', '??transition', +1);
  }
}

@mixin mixinMotionAxisSlideStatus {
  &[data-status="preparation"],
  &[data-status="selected"],
  &[data-status="close"] {
    display: flex;
  }

  &[data-status="selected"] {
    opacity: 1;
    transform: none;

    transition: transform v('d.sys.transition-duration.axis') v('d.sys.transition-function.standard'), opacity 210ms v('d.sys.transition-function.deceleration') 90ms;
  }

  &[data-status="close"] {
    position: fixed;
    top: v('??top');
    left: v('??left');
    z-index: v('??sys.close.z-index');

    width: v('??width');
    height: v('??height');

    opacity: 0;
    @include propertyCustom('??_transform', calc(#{v('??sys.shift')} * #{v('??_transition-close')}));
    transform: translate(calc(#{v('??_transform')} * #{v('??_x')}), calc(#{v('??_transform')} * #{v('??_y')})) scale(#{v('??_scale-close')});

    transition: transform v('d.sys.transition-duration.axis') v('d.sys.transition-function.standard'), opacity 90ms v('d.sys.transition-function.acceleration');
  }
}

@mixin mixinMotionAxisSlideAnimationType {
  @include modClass('animation-type') {
    @include modClass('fade') {
      &[data-status="selected"] {
        transition: transform v('d.sys.transition-duration.axis') v('d.sys.transition-function.acceleration'), opacity 60ms v('d.sys.transition-function.linear') 60ms;
      }

      &[data-status="close"] {
        transition: transform v('d.sys.transition-duration.axis') v('d.sys.transition-function.acceleration'), opacity 180ms v('d.sys.transition-function.linear') 120ms;
      }
    }
  }
}
