@import "../../styles/properties";

@import "./styles/mixinListText";
@import "./styles/mixinListIcon";

@import "./styles/currentStatus";
@import "./styles/mixinListItemStatus";

@mixin initListItem($design) {
  @include propertiesInit($design, 'list-item') {
    @include mixinListItem;

    @include mixinListItemText;
    @include mixinListItemTitle;
    @include mixinListItemPrefix;
    @include mixinListItemSuffix;
    @include mixinListItemDescription;
    @include mixinListItemShort;

    @include mixinListItemIcon;

    @include mixinListItemHighlight;
    @include mixinListItemSelected;
    @include mixinListItemReadonly;
    @include mixinListItemProgress;
    @include mixinListItemDisabled;

    @include mixinListItemHover;
    @include mixinListItemFocus;
    @include mixinListItemActive;

    @content;
  }
}

@mixin mixinListItem {
  position: relative;
  padding: 0 v('??l.padding-x');
  margin: calc(#{v('??l.margin-y')} / 2) v('??l.margin-x');

  width: 100%;
  min-height: calc(#{v('??l.height')} - #{v('??l.margin-y')});

  @include propertiesLink('d.flex.x');
  @include propertiesLink('d.font.readonly');

  @include color(v('??l.text'), v('??l.text-opacity'));
  @include paletteBackground(v('??_overlay'));
  @include backgroundOpacity(v('??l.background-opacity'));
  @include paletteGradient(v('??l.gradient'));
  @include gradientOpacity(v('??l.gradient-opacity'));

  cursor: pointer;

  @include propertyCustomTo('?progress.size', '??sys.progress.size');
  @include propertyCustomTo('?icon.background', '??l.text');
  @include propertyCustomTo('?ripple.background', '??l.gradient');
}
