@import "../../styles/properties";

@mixin initListItem($design) {
  @include propertiesInit($design, 'list-item') {
    @include mixinListItem;
    @content;
  }
}

@mixin mixinListItem {
  @include propertiesLink('d.flex.x');
  @include propertiesLink('d.font.readonly');

  @include color(v('??l.text'), v('??l.text-opacity'));
  @include paletteBackground(v('??_overlay'));
  @include backgroundOpacity(v('??l.background-opacity'));
  @include paletteGradient(v('??l.gradient'));
  @include gradientOpacity(v('??l.gradient-opacity'));

  position: relative;
  padding: 0 v('??l.padding-x');
  margin: calc(#{v('??l.margin-y')} / 2) v('??l.margin-x');

  width: 100%;
  min-height: calc(#{v('??l.height')} - #{v('??l.margin-y')} - #{v('??l.padding-y')});

  cursor: pointer;

  @include mixinText;

  @include mixinSelected;
  @include mixinDisabled;
}

@mixin mixinText {
  @include subClass('text') {
    @include propertiesLink('d.flex.dynamic');

    display: v('??l.body.display');
    flex-direction: inherit;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    align-self: stretch;

    position: relative;
    padding: v('??l.padding-y') 0;
  }
}

@mixin mixinSelected {
  @include modClass('selected') {
    @include background(v('??l.background'));
  }
}

@mixin mixinDisabled {
  @include modClass('disabled') {
    @include background(v('??l.background'));
    @include gradient(v('??l.gradient'));

    cursor: default;
  }
}
