@import "../../styles/properties";

@mixin initMask($design) {
  @include propertiesInit($design, 'mask') {
    @include mixinMask;

    @include mixinMaskInput;
    @include mixinMaskCharacter;

    @content;
  }
}

@mixin mixinMask {
  position: relative;

  &.is-right {
    @include textAlign('right');
  }
}

@mixin mixinMaskInput {
  @include subClass('input') {
    position: absolute;
    @include inset(0);
    z-index: 4;

    padding: inherit;

    caret-color: rgba(v('sys.color'), v('??sys.special.text-opacity'));
    color: transparent;
  }

  &.is-right {
    @include subClassByGlobal('input') {
      @include textAlign('right');
    }
  }
}

@mixin mixinMaskCharacter() {
  @include subClass('character') {
    @include colorOpacity(v('??l.text-opacity'));

    &.is-special {
      @include linkTo('text-opacity', '??sys.special.text-opacity');
    }

    &.is-standard {
      @include linkTo('text-opacity', '??sys.standard.text-opacity');
    }

    &.is-error {
      @include linkTo('text', '??sys.error.text');
      @include linkTo('text-opacity', '??sys.error.text-opacity');
      @include color(v('??l.text'));
    }
  }

  &:not(#{c('??-visible')}) {
    @include subClassByGlobal('character') {
      &.is-placeholder {
        @include colorOpacity(0);
      }
    }
  }
}
