@use "sass:string";

@mixin aspectRatio($value) {
  aspect-ratio: #{$value};

  @supports not (aspect-ratio: #{$value}) {
    @content;
  }
}

@mixin circle($value) {
  @include squared($value);
  border-radius: 100%;
}

@mixin height($value) {
  --sys-height: #{$value};
  height: $value;
}

@mixin squared($value) {
  @include widthBasis($value);
  @include aspectRatio(#{1/1}) {
    height: $value;
    @content;
  }
}

@mixin width($value) {
  --sys-width: #{$value};
  width: $value;
}

@mixin widthAspectRatio($value) {
  @include aspectRatio($value) {
    $separator: string.index($value, '/');
    $number1: string.slice($value, 0, $separator - 1);
    $number2: string.slice($value, $separator + 1);

    height: calc(var(--sys-width) * #{$number2} / #{$number1});
    @content;
  }
}

@mixin widthBasis($value) {
  --sys-width: #{$value};
  flex-basis: var(--sys-width);
  max-width: 100%;
  width: var(--sys-width);
}
