@mixin textAlign($value) {
  @if ($value == 'left') {
    text-align: var(--d-direction-text-left);
  } @else if ($value == 'right') {
    text-align: var(--d-direction-text-right);
  } @else {
    text-align: #{$value};
  }
}

@mixin textSelectNone {
  touch-callout: none;
  user-select: none;
}
