@mixin padding($value) {
  padding: $value;
}

@mixin paddingX($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin paddingY($value) {
  padding-bottom: $value;
  padding-top: $value;
}

@mixin paddingRight($value) {
  --d-dir-padding-right: #{$value};
  @include _paddingDirectionX;
}

@mixin paddingLeft($value) {
  --d-dir-padding-left: #{$value};
  @include _paddingDirectionX;
}

@mixin _paddingDirectionX() {
  padding-left: calc((var(--d-dir-left) * var(--d-dir-padding-left)) + (var(--d-dir-right) * var(--d-dir-padding-right)));
  padding-right: calc((var(--d-dir-left) * var(--d-dir-padding-right)) + (var(--d-dir-right) * var(--d-dir-padding-left)));
}

@mixin paddingTop($value) {
  padding-top: $value;
}

@mixin paddingBottom($value) {
  padding-bottom: $value;
}
