@mixin absolute($value: 0) {
  position: absolute;
  @include inset($value);
}

@mixin inset($value: 0) {
  inset: $value;

  @supports not(inset: $value) {
    top: $value;
    right: $value;
    bottom: $value;
    left: $value;
  }
}

@mixin bottom($value: 0) {
  bottom: $value;
  right: $value;
  left: $value;
}

@mixin top($value: 0) {
  top: $value;
  right: $value;
  left: $value;
}
