@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@function getMapItem(
  $map,
  $index,
  $default: null
) {
  @if (meta.type-of($index) == list) {
    $data: $map;

    @each $key in $index {
      $data: getMapItem($data, $key, $default);
    }

    @return $data
  } @else if (
          meta.type-of($map) == map and
          map.has-key($map, $index)
  ) {
    @return map.get($map, $index);
  } @else {
    @return $default;
  }
}

@function setMapItem($map, $index, $value) {
  @return map.merge($map, (#{$index}: $value));
}

@function strReplace($value, $pattern, $replacement) {
  $index: string.index($value, $pattern);

  @if ($index != null) {
    @return #{string.slice($value, 1, $index - 1)}#{$replacement}#{strReplace(string.slice($value, $index + string.length($pattern)), $pattern, $replacement)}
  } @else {
    @return $value
  }
}

@function strToList($value, $separator: '.') {
  $index: string.index($value, $separator);

  @if ($index != null) {
    @return list.join((string.slice($value, 1, $index - 1)), strToList(string.slice($value, $index + 1), $separator))
  } @else {
    @return $value
  }
}
